<div class="container">
    <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/vote"><button class="btn btn-primary">Vote</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/data"><button class="btn btn-primary">View All</button></a>
                </li>
            </ul>
</div>